Project Development Phase/Sprint 2/flows.json
[{"id":"b75c35a44a691c73","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"012c042951788300","type":"ibmiot in","z":"b75c35a44a691c73","authentication":"apiKey","apiKey":"09ceed0ff4ef253b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cropdymn","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":190,"y":340,"wires":[["34c9c8b35fd8d31b","b7a123d4c523d9c9","a8c1104ba77d71d0"]]},{"id":"34c9c8b35fd8d31b","type":"function","z":"b75c35a44a691c73","name":"humidity","func":"msg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["8c3ec04a31ac3937","89426e7895961e1f"]]},{"id":"b7a123d4c523d9c9","type":"function","z":"b75c35a44a691c73","name":"temperature","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":280,"wires":[["242062bb80213fe1","6956f5c59aebb97a"]]},{"id":"6956f5c59aebb97a","type":"ui_text","z":"b75c35a44a691c73","group":"10d1c91e.01c2d7","order":3,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":770,"y":220,"wires":[]},{"id":"89426e7895961e1f","type":"ui_text","z":"b75c35a44a691c73","group":"10d1c91e.01c2d7","order":4,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":320,"wires":[]},{"id":"8c3ec04a31ac3937","type":"ui_gauge","z":"b75c35a44a691c73","name":"Humidity Guage","group":"10d1c91e.01c2d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Actual Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":360,"wires":[]},{"id":"242062bb80213fe1","type":"ui_gauge","z":"b75c35a44a691c73","name":"Actual Temperature Guage","group":"10d1c91e.01c2d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature ","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":800,"y":260,"wires":[]},{"id":"abf10ff7f44a7a9d","type":"switch","z":"b75c35a44a691c73","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":440,"wires":[["6dcf33ce8dfd33fe","dc381d7b62251cbe"],["dc381d7b62251cbe"]]},{"id":"6dcf33ce8dfd33fe","type":"ui_toast","z":"b75c35a44a691c73","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Animal Detected","name":"Animal Detected","x":1020,"y":420,"wires":[[]]},{"id":"a8c1104ba77d71d0","type":"function","z":"b75c35a44a691c73","name":"animal","func":"// msg.payload=msg.payload.detect;\n// global.set('det',msg.payload.detect);\n// if(msg.payload.detect){\n//     global.set('url',msg.payload.url);\n// }\nmsg.payload=msg.payload.detect\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["abf10ff7f44a7a9d"]]},{"id":"dc381d7b62251cbe","type":"ui_text","z":"b75c35a44a691c73","group":"7de23636.088a88","order":3,"width":6,"height":2,"name":"","label":"Animal Detected","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1020,"y":460,"wires":[]},{"id":"6303c4f1514874e1","type":"ibmiot out","z":"b75c35a44a691c73","authentication":"apiKey","apiKey":"09ceed0ff4ef253b","outputType":"cmd","deviceId":"cropdymn","deviceType":"IoTDevice","eventCommandType":"motor","format":"json","data":"on","qos":"0","name":"IBM IoT","service":"registered","x":900,"y":600,"wires":[]},{"id":"4ed0d2eab2079bc1","type":"function","z":"b75c35a44a691c73","name":"motor state analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Mon\"};\nelse{\n     msg.payload={\"command\":\"Moff\"};\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":580,"wires":[["a2806a424550e1ee","35049ae1094afdb4"]]},{"id":"a2806a424550e1ee","type":"function","z":"b75c35a44a691c73","name":"state","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Mon\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":560,"wires":[["14042683d81412ac"]]},{"id":"35049ae1094afdb4","type":"json","z":"b75c35a44a691c73","name":"MOTOR","property":"payload","action":"","pretty":false,"x":700,"y":600,"wires":[["6303c4f1514874e1"]]},{"id":"43ead00bdb0b636f","type":"ui_button","z":"b75c35a44a691c73","name":"","group":"4f408f77.1c2d3","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":270,"y":540,"wires":[["4ed0d2eab2079bc1"]]},{"id":"e31d80feb1109511","type":"ui_button","z":"b75c35a44a691c73","name":"","group":"4f408f77.1c2d3","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":260,"y":620,"wires":[["4ed0d2eab2079bc1"]]},{"id":"14042683d81412ac","type":"ui_text","z":"b75c35a44a691c73","group":"4f408f77.1c2d3","order":4,"width":0,"height":0,"name":"","label":"Motor State","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":560,"wires":[]},{"id":"b2c07872e4299dea","type":"ibmiot out","z":"b75c35a44a691c73","authentication":"apiKey","apiKey":"09ceed0ff4ef253b","outputType":"cmd","deviceId":"cropdymn","deviceType":"IoTDevice","eventCommandType":"light","format":"json","data":"ON","qos":"2","name":"IBM IoT","service":"registered","x":920,"y":760,"wires":[]},{"id":"4618f680ad3e03a8","type":"function","z":"b75c35a44a691c73","name":"light state analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Lon\"};\n\nelse\n    msg.payload={\"command\":\"Loff\"};\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["bb07d1a9131d87e6","b4e90f84641505e6"]]},{"id":"bb07d1a9131d87e6","type":"function","z":"b75c35a44a691c73","name":"state","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Lon\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":720,"wires":[["460f10262dd128c0"]]},{"id":"b4e90f84641505e6","type":"json","z":"b75c35a44a691c73","name":"Light","property":"payload","action":"","pretty":false,"x":710,"y":760,"wires":[["b2c07872e4299dea"]]},{"id":"6f0af9ebd897c04f","type":"ui_button","z":"b75c35a44a691c73","name":"","group":"99da6a6f20319992","order":1,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":270,"y":700,"wires":[["4618f680ad3e03a8"]]},{"id":"cacb9451a0bd20de","type":"ui_button","z":"b75c35a44a691c73","name":"","group":"99da6a6f20319992","order":2,"width":0,"height":0,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":270,"y":760,"wires":[["4618f680ad3e03a8"]]},{"id":"460f10262dd128c0","type":"ui_text","z":"b75c35a44a691c73","group":"99da6a6f20319992","order":3,"width":0,"height":0,"name":"","label":"Light State","format":"{{msg.payload}}","layout":"row-spread","className":"","x":930,"y":720,"wires":[]},{"id":"09ceed0ff4ef253b","type":"ibmiot","name":"Iot","keepalive":"60","serverName":"yqzb6k.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"10d1c91e.01c2d7","type":"ui_group","name":"Measured Data","tab":"934d898c.290898","order":1,"disp":true,"width":7,"collapse":false},{"id":"7de23636.088a88","type":"ui_group","name":"Animal Detection","tab":"934d898c.290898","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"4f408f77.1c2d3","type":"ui_group","name":"Motor Controls","tab":"b6be7c1.459cd8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"99da6a6f20319992","type":"ui_group","name":"Light Controls","tab":"b6be7c1.459cd8","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"934d898c.290898","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6be7c1.459cd8","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]