Project Development Phase/Sprint 4/flows.json
[{"id":"cfe8b3b6.bf496","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c33f5025.7f038","type":"http request","z":"cfe8b3b6.bf496","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?lat=10.7905&lon=78.7047&appid=17e35a0272712c7ab18587d41eea352a","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":920,"wires":[["a097d8ac.7e0938","72c8ebd7.d35ad4"]]},{"id":"35a7a344.33f0ec","type":"inject","z":"cfe8b3b6.bf496","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":920,"wires":[["c33f5025.7f038"]]},{"id":"a097d8ac.7e0938","type":"function","z":"cfe8b3b6.bf496","name":"Temperature","func":"var temperature = msg.payload.main.temp;\ntemperature = temperature-273.15;\nreturn {payload : temperature.toFixed(2)};\n","outputs":1,"noerr":0,"x":590,"y":900,"wires":[["3ab4c15f.cf2b3e","50d34982.5fc248"]]},{"id":"64c3c12c.cc268","type":"function","z":"cfe8b3b6.bf496","name":"humidity","func":"msg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["4e6c783b.f92c18","49ebd638.c4ce58"]]},{"id":"2131606c.096f4","type":"function","z":"cfe8b3b6.bf496","name":"temperature","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":80,"wires":[["47ecece6.b3d5b4","711794f3.023cec"]]},{"id":"72c8ebd7.d35ad4","type":"function","z":"cfe8b3b6.bf496","name":"Humidity","func":"var Humidity = msg.payload.main.humidity;\nreturn {payload : Humidity.toFixed(2)};\n","outputs":1,"noerr":0,"x":580,"y":940,"wires":[["bda85d28.6acf7","823faa06.d73fe8"]]},{"id":"12d0b114.a7c35f","type":"function","z":"cfe8b3b6.bf496","name":"motor state analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Mon\"};\nelse{\n     msg.payload={\"command\":\"Moff\"};\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1220,"wires":[["2bcc832b.ffd39c","7c6aa8d1.ee5208"]]},{"id":"2bcc832b.ffd39c","type":"function","z":"cfe8b3b6.bf496","name":"state","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Mon\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1180,"wires":[["d08bc2fe.56bcb","9a4151a4bc6313d9","1abc3c9de6624256"]]},{"id":"7c6aa8d1.ee5208","type":"json","z":"cfe8b3b6.bf496","name":"MOTOR","property":"payload","action":"","pretty":false,"x":680,"y":1260,"wires":[["46bfff0d.7682a"]]},{"id":"a7cd58b74b05f4bc","type":"function","z":"cfe8b3b6.bf496","name":"light state analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Lon\"};\n\nelse\n    msg.payload={\"command\":\"Loff\"};\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1380,"wires":[["4c3da8807756fff5","8701486dec1feb17"]]},{"id":"4c3da8807756fff5","type":"function","z":"cfe8b3b6.bf496","name":"state","func":"var state=msg.payload;\nmsg.payload = state.command;\nif(msg.payload===\"Lon\"){msg.payload = \"On\"}\nelse{msg.payload = \"Off\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1360,"wires":[["9e8e10f1e953666c","87c09783ce3120af","c9d5d81dbfab7de2"]]},{"id":"8701486dec1feb17","type":"json","z":"cfe8b3b6.bf496","name":"Light","property":"payload","action":"","pretty":false,"x":690,"y":1400,"wires":[["af7c014b78ecd6d8"]]},{"id":"f5a4d787498ccf60","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":240,"wires":[["4679dbe5090389a7","b48464729e93b1c4","66b89fcf264ea23c","d397fe93ea32e798"],["15aad446e7925110"]]},{"id":"16a5ffca6206f663","type":"function","z":"cfe8b3b6.bf496","name":"animal","func":"// msg.payload=msg.payload.detect;\n// global.set('det',msg.payload.detect);\n// if(msg.payload.detect){\n//     global.set('url',msg.payload.url);\n// }\n\nmsg.payload=msg.payload.detect;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":240,"wires":[["f5a4d787498ccf60"]]},{"id":"19374b8957875ab7","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.url","pt":"global","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":400,"wires":[[]]},{"id":"0f838e3a584964e8","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.detect","pt":"global","to":"payload.detect","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[[]]},{"id":"74bbdbe20317bb68","type":"template","z":"cfe8b3b6.bf496","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"{{{payload}}}\">","output":"str","x":700,"y":1820,"wires":[["b657bbbdec55b261"]]},{"id":"3b7bbe84c350e06b","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1700,"wires":[["40d42b293261c30d"]]},{"id":"09b2894cb0b99c8e","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1660,"wires":[["3b7bbe84c350e06b","61112fcda6d1f86c","f4d7d90f5f844bdf","2bcd454d343ffc4b"],["eabdec2a9fd6237a","6faa0153db1cba13"]]},{"id":"2e0f7421d62c7acc","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.detect","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1700,"wires":[["09b2894cb0b99c8e","0c727fa86d3cfe26"]]},{"id":"eabdec2a9fd6237a","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No Animal Detected Currently","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1880,"wires":[["b657bbbdec55b261"]]},{"id":"6667318e201b7393","type":"inject","z":"cfe8b3b6.bf496","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"payload.detect","payloadType":"global","x":160,"y":480,"wires":[["fb6d9306c64ca281"]]},{"id":"0c49ae9c6e1a143b","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":300,"wires":[["b48464729e93b1c4"],["15aad446e7925110"]]},{"id":"9bb0a7b4a67d36ce","type":"function","z":"cfe8b3b6.bf496","name":"animal","func":"var det=true\nvar url=msg.payload;\nvar date=url.slice(76,93);\nvar day=date.slice(6,8)\nvar mon=(parseInt(date.slice(3,5))-1).toString()\nvar year=\"20\"+date.slice(0,2)\nvar ho=date.slice(9,11)\nvar min=date.slice(12,14)\nvar sec=date.slice(15,17)\nvar d=new Date(year,mon,day,ho,min,sec)\nvar cd=new Date();\nvar diff =(d.getTime() - cd.getTime()) / 1000;\ndiff /= 60;\nvar ans= Math.abs(Math.round(diff));\nconsole.log(ans)\nif(ans<328){\n    det=false\n}\n\nmsg.payload=det\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":480,"wires":[["0c49ae9c6e1a143b","5c42926a3236ac0d"]]},{"id":"e17204ce946cbde3","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["9bb0a7b4a67d36ce"]]},{"id":"fb6d9306c64ca281","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":480,"wires":[["e17204ce946cbde3"]]},{"id":"5c42926a3236ac0d","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.detect","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[[]]},{"id":"6faa0153db1cba13","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1600,"wires":[["c7eadacdd8749e85","e561726b9e4ee774","9edfb2cef70450de"]]},{"id":"4679dbe5090389a7","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[["b657bbbdec55b261"]]},{"id":"b48464729e93b1c4","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["776bc47269882584"]]},{"id":"15aad446e7925110","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":320,"wires":[["776bc47269882584"]]},{"id":"66b89fcf264ea23c","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alert !!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[["56efe1c64b72e591"]]},{"id":"4b682b08.686954","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"4f408f77.1c2d3","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":250,"y":1180,"wires":[["12d0b114.a7c35f"]]},{"id":"4a006290.65608c","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"4f408f77.1c2d3","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":240,"y":1260,"wires":[["12d0b114.a7c35f"]]},{"id":"76d12ffa23c108a2","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"99da6a6f20319992","order":1,"width":0,"height":0,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":250,"y":1340,"wires":[["a7cd58b74b05f4bc"]]},{"id":"e5111f5ef04a201e","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"99da6a6f20319992","order":2,"width":0,"height":0,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":250,"y":1400,"wires":[["a7cd58b74b05f4bc"]]},{"id":"2d4b5e00abbe9448","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"7de23636.088a88","order":1,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":110,"y":1600,"wires":[["2e0f7421d62c7acc"]]},{"id":"56efe1c64b72e591","type":"ui_toast","z":"cfe8b3b6.bf496","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Animal Detected","name":"Animal Detected","x":1100,"y":400,"wires":[[]]},{"id":"711794f3.023cec","type":"ui_text","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","order":3,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":770,"y":40,"wires":[]},{"id":"49ebd638.c4ce58","type":"ui_text","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","order":4,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":120,"wires":[]},{"id":"823faa06.d73fe8","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":4,"width":0,"height":0,"name":"Relative Humidity","label":"Relative Humidity(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":890,"y":940,"wires":[]},{"id":"50d34982.5fc248","type":"ui_text","z":"cfe8b3b6.bf496","group":"3ca8a178.6d435e","order":3,"width":0,"height":0,"name":"Relative Temperature","label":"Relative Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":900,"y":860,"wires":[]},{"id":"d08bc2fe.56bcb","type":"ui_text","z":"cfe8b3b6.bf496","group":"4f408f77.1c2d3","order":4,"width":0,"height":0,"name":"","label":"Motor State","format":"{{msg.payload}}","layout":"row-spread","className":"","x":890,"y":1180,"wires":[]},{"id":"9e8e10f1e953666c","type":"ui_text","z":"cfe8b3b6.bf496","group":"99da6a6f20319992","order":3,"width":0,"height":0,"name":"","label":"Light State","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":1360,"wires":[]},{"id":"776bc47269882584","type":"ui_text","z":"cfe8b3b6.bf496","group":"7de23636.088a88","order":3,"width":0,"height":0,"name":"","label":"Animal Detected","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1180,"y":480,"wires":[]},{"id":"c7eadacdd8749e85","type":"ui_text","z":"cfe8b3b6.bf496","group":"7de23636.088a88","order":4,"width":0,"height":0,"name":"Date","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":1270,"y":1660,"wires":[]},{"id":"e561726b9e4ee774","type":"ui_text","z":"cfe8b3b6.bf496","group":"7de23636.088a88","order":5,"width":0,"height":0,"name":"Time","label":"","format":"{{msg.payload}}","layout":"row-right","className":"","x":1250,"y":1540,"wires":[]},{"id":"3ab4c15f.cf2b3e","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Temperature Guage","group":"3ca8a178.6d435e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":900,"wires":[]},{"id":"4e6c783b.f92c18","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Humidity Guage","group":"10d1c91e.01c2d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Actual Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":160,"wires":[]},{"id":"47ecece6.b3d5b4","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Actual Temperature Guage","group":"10d1c91e.01c2d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature ","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":800,"y":80,"wires":[]},{"id":"bda85d28.6acf7","type":"ui_gauge","z":"cfe8b3b6.bf496","name":"Relative Humidity Guage","group":"3ca8a178.6d435e","order":2,"width":0,"height":0,"gtype":"gage","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":980,"wires":[]},{"id":"299ffc29.1d4004","type":"ui_template","z":"cfe8b3b6.bf496","group":"4f408f77.1c2d3","name":"","order":3,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://universidadean.edu.co/sites/default/files/noticias/internas/campo-innovacion-banner.jpg\");\n        \n        height:50%;\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100% 100%;    \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":2000,"wires":[[]]},{"id":"b657bbbdec55b261","type":"ui_template","z":"cfe8b3b6.bf496","group":"7de23636.088a88","name":"Animal Image","order":2,"width":7,"height":6,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1140,"y":1880,"wires":[[]]},{"id":"dad925cc.85ae08","type":"ui_template","z":"cfe8b3b6.bf496","group":"10d1c91e.01c2d7","name":"","order":5,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://openai-labs-public-images-prod.azureedge.net/user-Gk192Ok9ReVcu8wwDGuPdkR1/generations/generation-goZxDUWyIeUjc2Hkjn0YLOTg/image.webp\");\n        height: 100%;\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: cover;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":300,"y":2000,"wires":[[]]},{"id":"46bfff0d.7682a","type":"ibmiot out","z":"cfe8b3b6.bf496","authentication":"boundService","apiKey":"09ceed0ff4ef253b","outputType":"cmd","deviceId":"cropdymn","deviceType":"IoTDevice","eventCommandType":"motor","format":"json","data":"on","qos":"0","name":"IBM IoT","service":"registered","x":880,"y":1260,"wires":[]},{"id":"af7c014b78ecd6d8","type":"ibmiot out","z":"cfe8b3b6.bf496","authentication":"boundService","apiKey":"09ceed0ff4ef253b","outputType":"cmd","deviceId":"cropdymn","deviceType":"IoTDevice","eventCommandType":"light","format":"json","data":"ON","qos":"2","name":"IBM IoT","service":"registered","x":900,"y":1400,"wires":[]},{"id":"bc77fb95.6a33a8","type":"ibmiot in","z":"cfe8b3b6.bf496","authentication":"boundService","apiKey":"09ceed0ff4ef253b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cropdymn","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":130,"y":360,"wires":[["64c3c12c.cc268","2131606c.096f4","16a5ffca6206f663","19374b8957875ab7","0f838e3a584964e8","f866f2e9e0694f5a","9575634a78bf45c1","a799ab8093bee28d"]]},{"id":"40d42b293261c30d","type":"jimp-image","z":"cfe8b3b6.bf496","name":"Image","data":"payload","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":710,"y":1760,"wires":[["74bbdbe20317bb68"]]},{"id":"396991b3d7d9c5a4","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"ab1793f45377617c","order":1,"width":0,"height":0,"passthru":false,"label":"Controls","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1960,"wires":[["5a9cc50239f1075f"]]},{"id":"5a9cc50239f1075f","type":"ui_ui_control","z":"cfe8b3b6.bf496","name":"","events":"all","x":400,"y":1960,"wires":[[]]},{"id":"21d838ad9398a09a","type":"ui_button","z":"cfe8b3b6.bf496","name":"","group":"001585517747c720","order":1,"width":0,"height":0,"passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":670,"y":1960,"wires":[["bd5bc8730ee51d83"]]},{"id":"bd5bc8730ee51d83","type":"ui_ui_control","z":"cfe8b3b6.bf496","name":"","events":"all","x":840,"y":1960,"wires":[[]]},{"id":"bd456e4e.359d8","type":"ui_form","z":"cfe8b3b6.bf496","name":"Dashboard Sign-In","label":"","group":"b82da486.9fc8d8","order":0,"width":"6","height":"2","options":[{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":90,"y":2160,"wires":[["a926c1ff.ede37"]]},{"id":"a926c1ff.ede37","type":"function","z":"cfe8b3b6.bf496","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"dymncrop\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":2160,"wires":[["88afc196.8abc2"]]},{"id":"88afc196.8abc2","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":2160,"wires":[["eefb7b9e.f5daa8"],["2f57eca.40fa214"],["cc34d440.a91948"],["126fd334.ed13ed"]]},{"id":"eefb7b9e.f5daa8","type":"function","z":"cfe8b3b6.bf496","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = \"0\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2100,"wires":[["5c0b7126.396e8"]]},{"id":"2f57eca.40fa214","type":"function","z":"cfe8b3b6.bf496","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2140,"wires":[["61e843e4.4d74cc"]]},{"id":"cc34d440.a91948","type":"function","z":"cfe8b3b6.bf496","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2180,"wires":[["61e843e4.4d74cc"]]},{"id":"5c0b7126.396e8","type":"ui_ui_control","z":"cfe8b3b6.bf496","name":"Go to Sensor/History Group","x":920,"y":2100,"wires":[[]]},{"id":"61e843e4.4d74cc","type":"ui_toast","z":"cfe8b3b6.bf496","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":940,"y":2160,"wires":[[]]},{"id":"643a01a8.560ea","type":"inject","z":"cfe8b3b6.bf496","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":2400,"wires":[["bc828c1d.b3504"]]},{"id":"5b39c16e.da2f","type":"function","z":"cfe8b3b6.bf496","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2360,"wires":[["d29000e.556e5","a3d5d44d.a71ce8"]]},{"id":"d29000e.556e5","type":"ui_toast","z":"cfe8b3b6.bf496","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":920,"y":2360,"wires":[[]]},{"id":"8859efbd.09b1b","type":"ui_ui_control","z":"cfe8b3b6.bf496","name":"Go to Signin Group","x":930,"y":2440,"wires":[[]]},{"id":"a3d5d44d.a71ce8","type":"function","z":"cfe8b3b6.bf496","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload =\"1\";\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2440,"wires":[["8859efbd.09b1b"]]},{"id":"b960fa16.e7e618","type":"ui_toast","z":"cfe8b3b6.bf496","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":920,"y":2220,"wires":[[]]},{"id":"126fd334.ed13ed","type":"function","z":"cfe8b3b6.bf496","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2220,"wires":[["b960fa16.e7e618"]]},{"id":"bc828c1d.b3504","type":"function","z":"cfe8b3b6.bf496","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15*60*1000; //15 mins\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":2400,"wires":[["67244d691dab6ab8"]]},{"id":"67244d691dab6ab8","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":2400,"wires":[["5b39c16e.da2f"],[],["a3d5d44d.a71ce8"]]},{"id":"b41f60d030f87b76","type":"ui_template","z":"cfe8b3b6.bf496","group":"b82da486.9fc8d8","name":"","order":3,"width":0,"height":0,"format":"<style>\n    .login{\n        background:rgba(,,,0);\n    }\n    body{\n        background-image: url(\"https://universidadean.edu.co/sites/default/files/noticias/internas/campo-innovacion-banner.jpg\");\n        \n        height:100%;\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size: 100% 100%;    \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":80,"y":2200,"wires":[[]]},{"id":"f866f2e9e0694f5a","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.temperature","pt":"global","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[[]]},{"id":"9575634a78bf45c1","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.humidity","pt":"global","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[[]]},{"id":"ab23eaf9b3d29542","type":"http in","z":"cfe8b3b6.bf496","name":"","url":"/mcommand","method":"get","upload":false,"swaggerDoc":"","x":460,"y":1160,"wires":[["2bcc832b.ffd39c","7c6aa8d1.ee5208"]]},{"id":"01c236b7e81d08df","type":"http in","z":"cfe8b3b6.bf496","name":"","url":"/lcommand","method":"get","upload":false,"swaggerDoc":"","x":480,"y":1320,"wires":[["4c3da8807756fff5","8701486dec1feb17"]]},{"id":"87c09783ce3120af","type":"http response","z":"cfe8b3b6.bf496","name":"","statusCode":"","headers":{},"x":890,"y":1320,"wires":[]},{"id":"9a4151a4bc6313d9","type":"http response","z":"cfe8b3b6.bf496","name":"","statusCode":"","headers":{},"x":870,"y":1140,"wires":[]},{"id":"1abc3c9de6624256","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.motor","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1100,"wires":[[]]},{"id":"c9d5d81dbfab7de2","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.light","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1300,"wires":[[]]},{"id":"9620d3105bfc260c","type":"http in","z":"cfe8b3b6.bf496","name":"","url":"/getdata","method":"get","upload":false,"swaggerDoc":"","x":210,"y":2600,"wires":[["3515971ad6873d84"]]},{"id":"782d2a4a63b3a5b2","type":"http response","z":"cfe8b3b6.bf496","name":"","statusCode":"","headers":{},"x":730,"y":2540,"wires":[]},{"id":"3515971ad6873d84","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2600,"wires":[["478b863c8039e368"]]},{"id":"478b863c8039e368","type":"function","z":"cfe8b3b6.bf496","name":"","func":"\nif(msg.payload.detect){\n    msg.payload.detect=\"Yes\"\n}else{\n    msg.payload.detect=\"No\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2600,"wires":[["782d2a4a63b3a5b2","6bf8fac8fd80b4d7","e7b5d4a90edee024"]]},{"id":"61112fcda6d1f86c","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1540,"wires":[["e561726b9e4ee774","f5eff97deeb7d7b6"]]},{"id":"f4d7d90f5f844bdf","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.date","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1660,"wires":[["c7eadacdd8749e85","6082e578b102e29d"]]},{"id":"a799ab8093bee28d","type":"switch","z":"cfe8b3b6.bf496","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":640,"wires":[["e8280324b205528a","7e39e1bb8e1b7bc6"],["08fc5c5debcc477b","85d68bf4f79a04e1"]]},{"id":"e8280324b205528a","type":"function","z":"cfe8b3b6.bf496","name":"Get time","func":"var url=msg.payload.url;\nvar date=url.slice(76,93);\nvar day=date.slice(6,8)\nvar mon=(parseInt(date.slice(3,5))-1).toString()\nvar year=\"20\"+date.slice(0,2)\nvar ho=date.slice(9,11)\nvar min=date.slice(12,14)\nvar sec=date.slice(15,17)\nvar d=new Date(year,mon,day,ho,min,sec)\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', };\nvar ans =\"Time : \"+ d.toLocaleTimeString();\nmsg.payload=ans;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":560,"wires":[["b9d2e531e540fd9d"]]},{"id":"7e39e1bb8e1b7bc6","type":"function","z":"cfe8b3b6.bf496","name":"Get date","func":"var url=msg.payload.url;\nvar date=url.slice(76,93);\nvar day=date.slice(6,8)\nvar mon=(parseInt(date.slice(3,5))-1).toString()\nvar year=\"20\"+date.slice(0,2)\nvar ho=date.slice(9,11)\nvar min=date.slice(12,14)\nvar sec=date.slice(15,17)\nvar d=new Date(year,mon,day,ho,min,sec)\nvar options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', };\n\nvar ans =\"Image Taken at : \"+ d.toLocaleDateString(\"en-US\", options);\nmsg.payload=ans;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":600,"wires":[["29c18931dde8820a"]]},{"id":"08fc5c5debcc477b","type":"function","z":"cfe8b3b6.bf496","name":"Get time","func":"\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":660,"wires":[["b9d2e531e540fd9d"]]},{"id":"85d68bf4f79a04e1","type":"function","z":"cfe8b3b6.bf496","name":"Get date","func":"\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":700,"wires":[["29c18931dde8820a"]]},{"id":"b9d2e531e540fd9d","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.time","pt":"global","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":580,"wires":[[]]},{"id":"29c18931dde8820a","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.date","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[[]]},{"id":"f5eff97deeb7d7b6","type":"debug","z":"cfe8b3b6.bf496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1480,"wires":[]},{"id":"6082e578b102e29d","type":"debug","z":"cfe8b3b6.bf496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1720,"wires":[]},{"id":"9edfb2cef70450de","type":"debug","z":"cfe8b3b6.bf496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1600,"wires":[]},{"id":"0c727fa86d3cfe26","type":"debug","z":"cfe8b3b6.bf496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":1560,"wires":[]},{"id":"2bcd454d343ffc4b","type":"debug","z":"cfe8b3b6.bf496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1560,"wires":[]},{"id":"6bf8fac8fd80b4d7","type":"function","z":"cfe8b3b6.bf496","name":"","func":"if(msg.payload.detect==\"Yes\"){\n    msg.payload=true\n}else{\n    msg.payload=false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2660,"wires":[["8d8a674a4fd14223"]]},{"id":"8d8a674a4fd14223","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.detect","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2600,"wires":[[]]},{"id":"d397fe93ea32e798","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.notify","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":160,"wires":[[]]},{"id":"e7b5d4a90edee024","type":"change","z":"cfe8b3b6.bf496","name":"","rules":[{"t":"set","p":"payload.notify","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2500,"wires":[[]]},{"id":"40e2c51be1824b7c","type":"ui_spacer","z":"cfe8b3b6.bf496","name":"spacer","group":"001585517747c720","order":3,"width":1,"height":1},{"id":"4f408f77.1c2d3","type":"ui_group","name":"Motor Controls","tab":"b6be7c1.459cd8","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"99da6a6f20319992","type":"ui_group","name":"Light Controls","tab":"b6be7c1.459cd8","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"7de23636.088a88","type":"ui_group","name":"Animal Detection","tab":"934d898c.290898","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"10d1c91e.01c2d7","type":"ui_group","name":"Measured Data","tab":"934d898c.290898","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"3ca8a178.6d435e","type":"ui_group","name":"Weather Forecasting Data","tab":"934d898c.290898","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"09ceed0ff4ef253b","type":"ibmiot","name":"Iot","keepalive":"60","serverName":"yqzb6k.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ab1793f45377617c","type":"ui_group","name":"","tab":"934d898c.290898","order":4,"disp":false,"width":"7","collapse":false,"className":""},{"id":"001585517747c720","type":"ui_group","name":"","tab":"b6be7c1.459cd8","order":2,"disp":true,"width":"4","collapse":false,"className":""},{"id":"b82da486.9fc8d8","type":"ui_group","name":"Login","tab":"d65502b1.ee517","order":1,"disp":true,"width":"6","collapse":false,"className":"login"},{"id":"b6be7c1.459cd8","type":"ui_tab","name":"Controls","icon":"fa-power-off fa-2x","order":2,"disabled":false,"hidden":true},{"id":"934d898c.290898","type":"ui_tab","name":"Home","icon":"fa-2x fa-home","order":1,"disabled":false,"hidden":true},{"id":"d65502b1.ee517","type":"ui_tab","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true}]