Project Development Phase/Sprint 1/flows.json
[{"id":"b75c35a44a691c73","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"012c042951788300","type":"ibmiot in","z":"b75c35a44a691c73","authentication":"apiKey","apiKey":"09ceed0ff4ef253b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cropdymn","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":190,"y":300,"wires":[["34c9c8b35fd8d31b","b7a123d4c523d9c9","a8c1104ba77d71d0"]]},{"id":"34c9c8b35fd8d31b","type":"function","z":"b75c35a44a691c73","name":"humidity","func":"msg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":300,"wires":[["8c3ec04a31ac3937","89426e7895961e1f"]]},{"id":"b7a123d4c523d9c9","type":"function","z":"b75c35a44a691c73","name":"temperature","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["242062bb80213fe1","6956f5c59aebb97a"]]},{"id":"6956f5c59aebb97a","type":"ui_text","z":"b75c35a44a691c73","group":"10d1c91e.01c2d7","order":3,"width":0,"height":0,"name":"Actual Temperature","label":"Actual Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":770,"y":180,"wires":[]},{"id":"89426e7895961e1f","type":"ui_text","z":"b75c35a44a691c73","group":"10d1c91e.01c2d7","order":4,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":280,"wires":[]},{"id":"8c3ec04a31ac3937","type":"ui_gauge","z":"b75c35a44a691c73","name":"Humidity Guage","group":"10d1c91e.01c2d7","order":2,"width":0,"height":0,"gtype":"gage","title":"Actual Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":760,"y":320,"wires":[]},{"id":"242062bb80213fe1","type":"ui_gauge","z":"b75c35a44a691c73","name":"Actual Temperature Guage","group":"10d1c91e.01c2d7","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Temperature ","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":800,"y":220,"wires":[]},{"id":"abf10ff7f44a7a9d","type":"switch","z":"b75c35a44a691c73","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":400,"wires":[["6dcf33ce8dfd33fe","dc381d7b62251cbe"],["dc381d7b62251cbe"]]},{"id":"6dcf33ce8dfd33fe","type":"ui_toast","z":"b75c35a44a691c73","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Animal Detected","name":"Animal Detected","x":1020,"y":380,"wires":[[]]},{"id":"a8c1104ba77d71d0","type":"function","z":"b75c35a44a691c73","name":"animal","func":"// msg.payload=msg.payload.detect;\n// global.set('det',msg.payload.detect);\n// if(msg.payload.detect){\n//     global.set('url',msg.payload.url);\n// }\nmsg.payload=msg.payload.detect\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":400,"wires":[["abf10ff7f44a7a9d"]]},{"id":"dc381d7b62251cbe","type":"ui_text","z":"b75c35a44a691c73","group":"7de23636.088a88","order":3,"width":6,"height":2,"name":"","label":"Animal Detected","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1020,"y":420,"wires":[]},{"id":"09ceed0ff4ef253b","type":"ibmiot","name":"Iot","keepalive":"60","serverName":"yqzb6k.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"10d1c91e.01c2d7","type":"ui_group","name":"Measured Data","tab":"934d898c.290898","order":1,"disp":true,"width":7,"collapse":false},{"id":"7de23636.088a88","type":"ui_group","name":"Animal Detection","tab":"934d898c.290898","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"934d898c.290898","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]